// ELEMENTOS SECCION FOOTER DE LA HOME - INDEX.HTML
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1,h2,h6{
    font-family:$mainFont;
    color:$colorMain;
    font-weight:$textBold;
    text-decoration: none;
}

h1{
    font-size:$textXL;
    padding: 10px;
    line-height: 1em;
}

h2{
    font-size:$textL;
    margin:10px 0;
}

h3{
    text-align: center;
    background-color:$colorYellow;
    width: 150px;
    border-radius: 20px;
    padding: 8px;
}

h4, h5{
    font-family: $secuFont;
}

h4{
    font-size: $textM;
    color: $colorMain;
    font-weight:$textLight;
    margin: 10px 0px;
}

h5{
    font-size:$textS;
    color: $colorWhite;
    font-weight:$textLight;
}

h6{
    color:$colorWhite;
    font-size:  $textM;
    font-weight: $textBold;
    font-style: italic;
}

p{
    font-family: $secuFont;
    line-height: 1.2em;
    font-size: $textS;
    font-weight: $textLight;
    margin: 10px 0px;
    color:$colorMain;
}

.center {
    position: absolute;
    width: 90%;
    text-align: center;
}

// ************ footer ************

footer{
    background-color:$colorMain;
    line-height: 1, 4em;
    display: flex;
    padding: 20px 30px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    section{
        width: 25%;
        padding: 10px 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    a{
        text-decoration: none;
        img{
            width: 40px;
            height: 40px;
        }
    }
    ul{
        p{
            font-family: $secuFont;
            color: $colorWhite;
            font-size: $textS;
            font-weight: $textBold;
        }
        li{
            list-style: none;
            a{
                font-family: $secuFont;
                color: $colorWhite;
                font-size: $textS;
                list-style: none;
                text-decoration: none;
                &:hover{
                    color:$colorBg;
                    text-decoration: underline;
                    text-underline-offset: 6px;
                }
            }
        } 
    }
}

.textfoot{
    width: 50%;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: right;
}

.grfoo2{
    width: 20%;
}

.grfoo3{
    width: 50%;
}

.grfoo4{
    width: 50%;
}

.img-logo-fo{
    width: 220px;
    height: 60px;
}

.text-footer{
    text-align: center;
}

.text-footer-copy{
    width: 100%;
    border-top: 1px solid $colorWhite;
    text-align: center;
    p {
        color: $colorWhite;
        font-size: $textS;
        font-style: italic;
    }
}

.text-footer-yellow{
    color:$colorYellow;
    &:hover{
        color:$colorBg;
        text-decoration: underline;
        text-underline-offset: 8px;
    }
}

.icon-foot{
    img{
        &:hover{
            transform: scale(1.1);
            cursor: pointer;
            transition: all 0.5s ease;
        }        
    }    
}


// PORTADAS - PAGINAS

.portada {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    img{
        width: 100%;
        height: auto;
    }
}

.info {
    padding: 8px 30px;
}

