// Variables Globales
$colorMain:#6e4c3d;
$colorSecu:#c04a17;
$colorBg:rgba(246, 234, 179, 0.829);
$colorBg2: #e8e2c658;
$colorWhite:rgb(255, 254, 254);
$colorYellow:rgb(255, 210, 10);
$colorYellow2:rgba(234, 195, 19, 0.735);
$colorPurple: rgb(137, 22, 238);
$colorBlack: rgb(14, 14, 14);
$colorGreen:rgb(5, 169, 92);

//fonts
$mainFont:'Abhaya Libre', serif;
$secuFont:'Albert Sans', sans-serif;

//weight
$textLight:300;
$textRegular:400;
$textBold:600;
$textExtraBold:700;

//size
$textXS:0.8em;
$textS:1em;
$textM:1.2em;
$textL:3em;
$textXL:5em;